<form nz-form [formGroup]="rfDataModal" class="login-form" (ngSubmit)="save()">
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your username!">
      <nz-input-group nzPrefixIcon="user">
        <input type="text" nz-input formControlName="userName" placeholder="Tên đăng nhập" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your Password!">
      <nz-input-group nzPrefixIcon="lock">
        <input type="password" nz-input formControlName="password" placeholder="Mật khẩu" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your Password!">
      <nz-input-group nzPrefixIcon="lock">
        <input
          type="password"
          nz-input
          formControlName="passwordComfirm"
          placeholder="Mật khẩu nhắc lại"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="">
      <input nz-input formControlName="hoTen" placeholder="Họ và Tên" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="">
      <input nz-input formControlName="email" placeholder="Email" />
    </nz-form-control>
  </nz-form-item>

  <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">
    Đăng ký
  </button>
</form>
