<p>
    App backend: 
    <a href="https://app.contentful.com/spaces/48coocsa1tjv/entries/49uJf2cgLMCos5Ze7wOGrK">
        https://app.contentful.com/spaces/48coocsa1tjv/entries/49uJf2cgLMCos5Ze7wOGrK
    </a>
</p>
<p>
    Link deploy: 
    <a href="https://vercel.com/dashboard">
        https://vercel.com/dashboard
    </a>
</p>
<p>
    Link GCP (Api google login by @abacritt/angularx-social-login): 
    <a href="https://console.cloud.google.com/getting-started?hl=vi&project=taichu-test1&supportedpurview=project">
        https://console.cloud.google.com/getting-started?hl=vi&project=taichu-test1&supportedpurview=project
    </a>
</p>
<pre>{{jsonId}}</pre>

