<nz-layout class="app-layout">

  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://www.abbank.vn/" target="_blank">
        <img *ngIf="isCollapsed" class="menu-logo1" src="https://cdn.abbank.vn/uploads/images/2020/05/26/logo.png" alt="logo">
        <img *ngIf="!isCollapsed" class="menu-logo2" src="https://cdn.abbank.vn/uploads/images/2020/05/26/logo.png" alt="logo">
        <h1>Web DEV</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li *ngFor="let menuItems of ListMenu" nz-submenu [nzOpen]="menuItems.nzOpen" nzTitle="{{menuItems.nzTitle}}" nzIcon="{{menuItems.nzIcon}}">
        <ul>
          <li *ngFor="let item of menuItems.listMenuItem" nz-menu-item [nzMatchRouter]="item.nzMatchRouter">
            <a routerLink="{{item.routerLink}}">{{item.nzTitle}}</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>

  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger" nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
        <app-login-logout></app-login-logout>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
